* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #FFF7ED;
  font-family: 'Inter', sans-serif;
}


header {
  height: 110px;
  display: flex;
  align-items: center;
  padding-block: 10px;
}

header .site-logo {
  color: black;
  font-size: 25px;
  font-weight: 900;
  margin-right: auto;
  text-transform: uppercase;
}

a.active-link {
  font-weight: 700;
  text-decoration: underline;
  color: #161616;
}


header a {
  text-decoration: none;
  color: #4d4d4d;
  font-weight: 600;
  padding: 5px 20px;
}

header a:hover {
  color: #161616;
  text-decoration: underline;
}

 
.link-button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border: none;
    padding: .75rem 1.375rem;
    color: initial;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: transform .1s ease-in-out;
}

.link-button:hover {
    transform: translate(1px, 1px);
}


/* HOME PAGE */
.home-container {
  background: linear-gradient(0deg, rgba(0,0,0,0.46),rgba(0, 0, 0, 0.46)), url("./assets/images/home-hero.jpg") no-repeat center center;
  background-size: cover;
  min-height: 700px;
  color: #ffffff;
  padding: 45px 25px;
  
}

.home-container h1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 42px;
}

.home-container p {
  line-height: 24px;
}

.home-container a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  background-color: #FF8c38;
  border: none;
  width: 100%;
  margin-top: 25px;
  padding-block: .75rem;
  color: #ffffff;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: transform .1s ease-in-out;
}

.home-container a:hover {
  transform: translate(1px, 1px);
}


/* ABOUT PAGE */

.about-hero-image {
  max-width: 100%;
}

.about-page-content {
  padding: 22px;
  color: #161616;
  margin-bottom: 50px;
}

.about-hero-content h1 {
  line-height: 35px;
}

.about-hero-content p {
  line-height: 20px;
}

.about-page-cta {
  background-color: #ffcc8d;
  color: #161616;
  padding-inline: 35px;
  padding-bottom: 30px;
  margin-inline: 30px;
  border-radius: 5px;
}

.about-page-cta h2 {
  margin: 0;
  padding-block: 35px;
}

.about-page-cta .link-button {
  background-color: #161616;
  color: #ffffff;
  border-radius: 10px;
}


/* VANS PAGE */

.van-list-container {
  padding-inline: 25px;
}

.van-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 32px;
  margin-top: 60px;
}


.van-title a {
  color: #161616;
  text-decoration: none;
}

.van-title img {
  max-width: 100%;
  border-radius: 5px;
}

.van-list-container button {
  margin-right: 20px;
  cursor: pointer;  
}

.van-type {
  height: 32px;
  padding:6px 25px;
  background-color: #ffead0;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  color: #4d4d4d;
  transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.van-type:hover {
  color: #ffead0;
}

.van-type:focus {
  outline: none;
}

.van-type.simple:hover,.van-type.simple.selected {
  background-color: #E17654;
}
.van-type.rugged:hover,.van-type.rugged.selected {
  background-color: #115e59;
}
.van-type.luxury:hover,.van-type.luxury.selected {
  background-color: #161616;
}

.van-type.selected {
  color: #ffead0;
}

.van-type.clear-filters {
  margin-left: -20px;
  height: 32px;
  padding: 6px 25px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  text-decoration: underline;
  background-color: transparent;
  color: #4d4d4d;
}

i[class*='van-type-'] {
  padding: 7px 14px;
}
.van-detail {
  display: flex;
  flex-direction: column;
  color: #161616;
}

.van-detail img {
  border-radius: 5px;
  margin-block: 40px;
}

.van-detail h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.van-detail > i {
  align-self: flex-start;
}

.van-detail .van-price {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.van-detail .van-price span {
  font-weight: 700;
  font-size: 1.5rem;
}

.van-detail .link-button {
  background-color: #FF8c38;
  color: #ffffff;
  font-size: 1.2rem;
}

/* HOST PAGE*/

.nav-host {
  display: flex;
  gap: 20px;
}

.nav-host a {
  text-decoration: none;
  color: #161616;
}

.nav-host a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
    flex: 1;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: #161616;
  color:#4d4d4d;
  bottom: 0px;
}

.van-detail-card {
  max-width: 500px;
  height: 200px;
  display: flex;
  gap: 20px;
  background-color: #fefefe;
  border-radius: 5px;
  cursor: pointer;
}

.van-detail-card img {
  margin: 10px;
  border-radius: 5px;
}

.van-detail-card h3{
  font-size: 30px;
  font-weight: 600;
}

.van-detail-card p {
  font-size: 20px;
}

.link-wrapper {
  text-decoration: none;
  color: #161616;
}

.van-detail-container {
  padding-top: 20px;
}

.van-detail-container a {
  text-decoration: none;
  color: #161616;
  font-size: 20px;
  font-weight: 600;
}

.van-detail-container a:hover {
text-decoration: underline;
}

.nav-van-details {
  display: flex;
  gap: 40px;
  padding-block: 20px;
}

/* Host van detail of single van */
.van-detain-container {
  background-color: #fefefe;
  padding: 20px;
  margin-top: 40px;
}

.nav-van-details a {
  color: #4d4d4d;
}

.van-info {
  display: flex;
  gap: 30px;
  margin-bottom: 40px;
}

.van-info img {
  max-width: 300px;
}

.van-info h3{
  font-size: 30px;
}

.about-van {
  padding-top: 10px;
}
.hostlayout-container {
  padding-inline: 20px;
}

/* general styles */
.highlight-text {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.4px;
}
